---
---

<script async src="https://www.googletagmanager.com/gtag/js?id=G-M7QXLLL8YX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M7QXLLL8YX');
</script>

{% assign __ = site.data.languages[site.language] %}
{% include _layout.html %}

<!--&lt;!&ndash;不算子网站访客统计&ndash;&gt;-->
<!--<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">-->
<!--</script>-->
<!--&lt;!&ndash; pv的方式，单个用户连续点击n篇文章，记录n次访问量 &ndash;&gt;-->
<!--<div align="center">-->
<!--	<span id="busuanzi_container_site_pv" style="font-family:Consolas;color:#2b2b2c;font-size:15px;">-->
<!--		总浏览次数:<span id="busuanzi_value_site_pv" style="font-family:Consolas;color:#2b2b2c;font-size:15px;"></span>-->
<!--	</span>-->
<!--    &lt;!&ndash; uv的方式，单个用户连续点击n篇文章，只记录1次访客数 &ndash;&gt;-->
<!--    <span id="busuanzi_container_site_uv" style="font-family:Consolas;color:#2b2b2c;font-size:15px;">-->
<!--		总用户数:<span id="busuanzi_value_site_uv" style="font-family:Consolas;color:#2b2b2c;font-size:15px;"></span>-->
<!--	</span>-->
<!--</div>-->
